.description-container {
    padding: 20px 24px;
}
.progect-name {
font-weight: 700;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.06em;
color: $bacic-color;
margin-bottom: 4px;
}
.progect-tupe {
font-weight: 400;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: $subtitle-collor;
}