
    $accent-color: #2196F3;
    $bacic-color: #212121;
    $auxiliary-color: #FFFFFF;
    $subtitle-collor:  #757575; 
    $hero-color: #2F303A;
    $button-color: #F5F4FA;
    $icon-color: #AFB1B8;
    $main-font: "Raleway", sans-serif;